@font-face {
  font-family: "iconfont"; /* Project id 4603142 */
  src: url('iconfont.woff2?t=1719667078201') format('woff2'),
       url('iconfont.woff?t=1719667078201') format('woff'),
       url('iconfont.ttf?t=1719667078201') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-manager:before {
  content: "\e600";
}

.icon-food:before {
  content: "\e6d0";
}

